{% extends "peah/base.html" %}
{% block title %}Pe'Ah - {{ exception.status }}{% endblock %}
{% block body %}
    <div class="toast toast-error">
        <h2>{{ exception.status.code }} Permission Denied</h2>
        <p>{{ exception.details }}</p>
    </div>
{% endblock %}
