{% load avatar_tags %}
<div class="column col-2 comment-avatar">
    <div class="avatar d-block">
        <center>
            {% avatar comment.user %}
        </center>
    </div>
    <div class="username">
        <a href="#">{{ comment.user.username }}</a>
    </div>
    <div class="company">
        {% for g in user.groups.all %}
            {% if g.company %}
                <a href="{% url 'show_company' g.company.id %}">{{ g.company.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
