{% load humanize %}
<div class="column toast text comment">
    <div class="comment-text">{{ comment.text }}</div>
    <div class="comment-when">
        <i class="icon icon-time"></i>
        {{ comment.when|naturaltime }}
    </div>
</div>
