{% extends "peah/dashboard_base_with_actions.html" %}
{% load peah_utils %}
{% block title %}{{ solution.user }}'s Solution For {{ solution.gleaning.company }}{% endblock %}
{% block dashboard_content %}
{% block solution_toolbox %}{% endblock %}

{% if solution.is_selected %}
<div class="toast toast-success container">
    <i class="icon icon-2x icon-check"></i>
    <span class="subtitle">This solution has been accepted.</span>
</div>
{% elif solution.is_rejected %}
<div class="toast toast-error container">
    <i class="icon icon-2x icon-error"></i>
    <span class="subtitle">This solution has been rejected.</span>
</div>
{% elif solution.submitted %}
<div class="toast toast-error container">
    <i class="icon icon-2x icon-error"></i>
    <span class="subtitle">
        {{ solution.gleaning.company.name }} still hasn't selected a solution
        yet.
    </span>
</div>
{% endif %}

<div class="model-description">
    <h2 class="table-label">Gleaning:</h2>
    <div class="value">
        <a href="{% url 'show_gleaning' solution.gleaning.id %}">
            {{ solution.gleaning.headline }}
        </a>
    </div>
    <h2 class="table-label">Details:</h2>
    <div class="value">
        <p>{{ solution.details }}</p>
    </div>
    <h2 class="table-label">Submitted:</h2>
    <div class="value">
        <p>{{ solution.submitted }}</p>
    </div>
    {% if solution.repository %}
    <h2 class="table-label">Repository:</h2>
    <div class="value">
        <a href="{{ solution.repository }}" class="">
            {{ solution.repository }}
        </a>
    </div>
    {% elif solution.file_upload %}
    <h2 class="table-label">Source:</h2>
    <div class="value">
        <a href="{{ solution.file_upload }}" class="btn btn-default">
            Download
        </a>
    </div>
    {% endif %}
</div>

<h2>{{ solution.comments.count }} Comments</h2>

{% include "peah/include/common/comments.html" with thread=solution.comments comment_type='solution' %}

{% block solution_actions %}{% endblock %}


{% endblock %}
