{% extends "peah/solution/show/base.html" %}
{% load peah_utils %}

{% block title %}{{ solution.gleaning.headline }} - {{ user.username }}'s Solution{% endblock %}

{% block dashboard_sidebar %}

{% if solution.is_selected %}
{% else %}
    {% if can_select %}
<a href="{% url 'select_solution' solution.id %}" class="btn btn-primary">
    Select Solution
</a>
    {% endif %}
{% endif %}


    {% if can_select %}

<h3>Rate Solution</h3>
{% for i in '1,5'|peah_range %}
    {% if rating.score == i %}
    <span href="{% url 'rate_solution' solution.id i %}">
    {% else %}
    <a href="{% url 'rate_solution' solution.id i %}">
    {% endif %}
        <div class="btn d-block {% if rating.score == i %}btn-primary{% endif %}">
            {{ '&#9733;'|reptchar:i }}
        </div>
    {% if rating.score == i %}
    </span>
    {% else %}
    </a>
    {% endif %}
{% endfor %}

{% endif %}
{% endblock %}
