{% extends "peah/solution/show/base.html" %}
{% block solution_toolbox %}
<div class="peah-toolbox">
    {% if solution.submitted %}
        <a href="{% url 'edit_solution' solution.id %}"
           class="tooltip btn"
            data-tooltip="Withdraw Solution">
            <i class="icon icon-stop"></i>
        </a>
    {% else %}
        <a href="{% url 'edit_solution' solution.id %}"
           class="tooltip btn"
            data-tooltip="Edit Solution">
            <i class="icon icon-edit"></i>
        </a>
    {% endif %}
</div>
{% endblock %}
