{% extends "peah/base.html" %}
{% block body %}
{% if request.GET.next %}
<div class="container horiz-padding-tiny vert-padding-tiny">
  <a href="{{ request.GET.next }}" class="btn btn-default">
    <i class='icon icon-back'></i>
    Back
  </a>
</div>
<div class="container horiz-padding-medium vert-padding-micro">
  {% endif %}
  {% block content %}{% endblock %}
</div>
{% endblock %}
