{% extends 'peah/base.html' %}
{% load cms_tags sekizai_tags static menu_tags crispy_forms_filters %}
{% block title %}Peah - Edit {{ company.name }}{% endblock %}
{% block body %}
{% if company.status == 'queued' %}
<div class="toast toast-warning">
    <p>{{ company.name }} still needs to be approved before you can post gleanings.</p>
</div>
{% elif company.status == 'locked' %}
<div class="toast toast-error">
    <p>Sorry, but account has been locked.</p>
</div>
{% endif %}
<h1>Edit {{ company.name }}</h1>
{% crispy form %}
{% endblock %}
