{% extends 'peah/base.html' %}
{% block title %}Peah - {{ company.name }}{% endblock %}
{% block body %}
<div class="peah-toolbox">
    {% if can_edit %}
    <a href="{% url 'edit_company' company.id %}"
       class="btn tooltip tooltip-bottom"
       data-tooltip="Edit">
        <i class="icon icon-edit"></i>
    </a>
    <a href="{% url 'new_gleaning' %}"
       class="btn tooltip tooltip-bottom"
       data-tooltip="Add Gleaning">
        <i class="icon icon-plus"></i>
    </a>
    {% endif %}
</div>
<div class="model-description">
    <div class="row">
        <h2 class="table-label">
            Name:
        </h2>
        <div class="value">
            {{ company.name }}
        </div>
    </div>
    <div class="row">
        <h2 class="table-label">
            Gleanings:
        </h2>
        <div class="value">
            {% if company.gleanings.count == 0 %}
                No Gleanings
            {% else %}
                <a href="{% url 'list_gleanings' %}?company={{ company.group.name }}">
                    {{ company.gleanings.count }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
