{% extends "peah/base.html" %}
{% load static crispy_forms_filters %}
{% block title %}Peah - Confirm Solution{% endblock %}
{% block body %}
<div class="toast toast-primary">
    <p>
        <a href="{% url 'show_gleaning' solution.gleaning.id %}" class="btn btn-primary">
            <i class="icon icon-back"></i>
            Back to Gleaning
        </a>
    </p>
    <p>
        Are you sure you want to submit this solution?
    </p>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="yes" value="Yes" class="btn btn-large btn-success" />
            <input type="submit" name="no" value="No" class="btn btn-large" />
        </form>
    </form>
</div>
{% endblock %}
