{% extends "peah/base.html" %}
{% load static crispy_forms_filters %}
{% block title %}Peah - Edit Solution{% endblock %}
{% block body %}
<div>
    <a href="{% url 'show_gleaning' gleaning.id %}" class="btn btn-link">
        <i class="icon icon-back">
        </i>
        Back to Gleaning
    </a>
    <p class="title">{{ gleaning.headline }}</p>
</div>
<div class="form peah-form">
    {% crispy form %}
</div>
{% endblock %}
