{% extends "peah/base.html" %}
{% load static crispy_forms_filters %}
{% block title %}Peah - New Solution{% endblock %}
{% block body %}
<div>
    <a href="{% url 'show_gleaning' gleaning.id %}" class="btn btn-link">
        <i class="icon icon-back">
        </i>
        Back to Gleaning
    </a>
    <p class="title">{{ gleaning.headline }}</p>
</div>
<div class="form peah-form peah-medium-width">
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="save" value="Save" class="btn btn-large" />
        <input type="submit" name="submit" value="Submit" class="btn btn-large btn-success" />
    </form>
</form>
{% endblock %}
