{% extends "peah/dashboard_base.html" %}
{% block title %}Confirm Solution Selection{% endblock %}
{% block dashboard_content %}
<div class="empty">
    <p class="empty-title">
        Select this solution?
    </p>
    <p class="empty-subtitle">
        All other {{ solution.gleaning.solutions.count }}
        solutions will not be selected{% if solution.gleaning.payout %}
        and a payout of {{ solution.gleaning.payout }} will not be given to the others{% endif %}.
    </p>
    <form method="POST">
        {% csrf_token %}
        <div class="columns">
            <input type="submit" value="Confirm" name="yes" class="btn btn-success" />
            <input type="submit" value="Cancel" name="no" class="btn btn-default" />
        </div>
    </form>
</div>
{% endblock %}
