{% extends "peah/dashboard_base.html" %}
{% block title %}Peah - Withdraw Solution{% endblock %}
{% block dashboard_content %}
<div class="empty">
    <div class="empty-icon icon-4x">
        ?
    </div>
    <p class="empty-title">
        Are you sure you want to <strong>withdraw</strong> this solution?
    </p>
    <p class="empty-subtitle">
        The solution will forever be lost and you won't be able to edit it
        again.
    </p>
    <form method="POST">
        <div class="empty-action columns">
            <input type="submit" value="YES" name="yes"
                   class="btn btn-success column" />
            <input type="submit" value="NO" name="no"
                   class="btn btn-error column" />
        </div>
    </form>
</div>
{% endblock %}
