{% if company %}
<div class="card column">
    <div class="card-header">
        {% if company.logo %}
        <div class="card-image">
            <img src="{{ company.logo.url }}" class="img-responsive" />
        </div>
        {% endif %}
        <h3 class="card-title h3">Company</h3>
        <p>
            <strong>Name:</strong> {{ company.name }}
        </p>
        <a href="{% url 'edit_company' company.id %}">Edit &#129122;</a>
    </div>
</div>
{% endif %}
