<section class="title">
  {{ company.name }}
  <a href="{% url 'edit_company' company.id %}">
    <span><i class="icon icon-edit btn"></i></span>
</section>
<a name="#company"></a>

{% if company.is_approved %}
{% else %}
<div class="toast toast-error">
  <h1 class="column">&#9888;</h1>
  <span>Your company needs to be approved before you can post gleanings.</span>
</div>
{% endif %}

<div class="cardset">
    <div class="card"><a name="company-solutions"></a>
        <div class="card-header">
            <h4 class="card-title"> Latest Solutions </h4>
        </div>
        <div class="card-body">
            <ul>
            {% for solutions in solutions.all.all %}
                <li>{{ solution }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card"><a name="company-gleanings-open"></a>
        <div class="card-header">
            <h4 class="card-title"> {{ gleanings.open|length }} Open Gleanings </h4>
        </div>
        <div class="card-body">
            {% for gleaning in gleanings.open %}
            {% include "peah/include/tile/gleaning.html" with user_in_company=1 %}
            {% endfor %}
        </div>
    </div>
    <div class="card"><a name="company-gleanings-closed"></a>
        <div class="card-header">
            <h4 class="card-title"> {{ gleanings.closed|length }} Closed Gleanings </h4>
        </div>
        <div class="card-body closed">
            {% for gleaning in gleanings.closed %}
            {% include "peah/include/tile/gleaning.html" with user_in_company=1 %}
            {% endfor %}
        </div>
    </div>
{% if company.is_approved %}
    <div class="vert-padding-tiny">
      <a href="{% url 'new_gleaning' %}" class="centered btn btn-primary">
        <i class="icon icon-plus"></i>
        Create Gleaning
      </a>
    </div>
{% endif %}
</div>
