<div class="card column">
    <div class="card-header">
        <h5 class="card-title h5">Latest Solutions</h5>
    </div>
    <div class="card-body">
        <ul>
            {% for solution in latest_solutions %}
            <li>

                <h6 class="label label-{% if solution.is_selected %}success{% elif solution.is_rejected %}error{% else %}primary{%endif%}">
                    {% if solution.is_selected %}
                        <i class="icon icon-check"></i>
                    {% elif solution.is_rejected %}
                        <i class="icon icon-cross"></i>
                    {% endif %}
                    {{ solution.gleaning.headline }}
                </h6>
                <h6 class="h6">
                    by {{ solution.user.username }}
                </h6>
                <h7 class="h7">
                    Submitted on {{ solution.submitted }}
                </h7>
                <h7 class="h7">
                    <a href="{% url 'show_solution' solution.id %}">
                        More <i class="icon icon-forward"></i>
                    </a>
                </h7>
            </li>
            {% endfor %}
        </ul>
        <a class="btn" href="{% url 'manage_gleanings' %}">
            Manage Gleanings
        </a>
        <a class="btn" href="{% url 'new_gleaning' %}">
            <i class="icon icon-plus"></i>
            Add Gleaning
        </a>
    </div>
</div>
