{% load admin_urls %}
<div class="card column">
    <div class="card-header">
        <p class="card-title h5">
            {{ queued_companies.count }} Unapproved Companies
        </p>
    </div>
    <div class="card-body">
        <ul style="list-style: none;">
        {% for c in queued_companies.all %}
            <li>
                <a href="{% url 'admin:peah_company_change' c.id %}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
