{% load avatar_tags peah_utils %}
<div class="centered horiz-margin-large">
  <h3 class="title centered">Credentials
    <a href="{% url 'edit_account_info' %}"><i class="icon icon-edit"></i></a>
  </h3>
  <table class="info-table">
    <tr>
      <th>Username:</th>
      <td>{{ request.user.username }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ request.user.email|scrub_email }}</td>
    </tr>
    <tr>
      <th>Password: </th>
      <td>{{ '*'|reptchar:10 }}</td>
    </tr>
  </table>
</div>
<section class="title">User Profile</section>
<div class="card centered vert-margin-small horiz-margin-large">
  <div class=" vert-margin-small card-image">
    {% avatar request.user %}
  </div>
  <div class="card-header">
    <div class="card-title h5">Your Avatar</div>
  </div>
  <div class="card-footer">
    <a href="{% url 'avatar_change' %}?next={{request.path}}#" class="btn btn-primary">Change your avatar</a>
  </div>
</div>
{% if company %}
{% else %}
<div class="empty">
  <p class="title">You do not have a company registered.</p>
  <p>Did you want to create one?</p>
  <div class="empty-acton">
    <a href="{% url 'new_company' %}" class="btn btn-primary">
      <i class="icon icon-plus"></i>
      Create Company
    </a>
  </div>
</div>
{% endif %}
