<div class="cardset">
    <div class="card"><a name="company-solutions"></a>
        <div class="card-header">
            <h4 class="card-title"> Submitted Solutions </h4>
        </div>
        {% for solution in user.solutions.all %}
            {% include 'peah/include/tile/solution.html' %}
        {% endfor %}
    </div>
</div>
