<div class="container">
  <h4 class="centered">User Statistics</h4><a name="#company"></a>
</div>

<div class="cardset">
    <div class="options-card">
        <h4 class="card-title">Options</h4>
        <form action="{% url 'set_user_options' %}" method='POST'>
          {% csrf_token %}
          <div class="">
            <div class="form-group">
            <label class="form-switch">
              <input type="checkbox"
                     name="collect_statistics"
                     {% if request.user.options.collect_statistics %} checked {% endif %} >
              <i class="form-icon"></i> Include me in statistics collection
            </label>
          </div>
          <div class="toast info">
              This helps users see how they compare against other job
              candidates.
          </div>
          <div>
            <label>Visibility of Statistics</label>
            <select class="form-select" name="show_statistics"
             {% if request.user.options.collect_statistics %}{% else %}disabled{% endif %}>
              <option value="0" {% if request.user.options.show_statistics == 0 %}selected{% endif %}>Never Show</option>
              <option value="1" {% if request.user.options.show_statistics == 1 %}selected{% endif %}>On-Approval</option>
              <option value="2" {% if request.user.options.show_statistics == 2 %}selected{% endif %}>Show Without Approval</option>
            </select>
          </div>
          <div class="horiz-padding-large vert-padding-tiny">
            <input type="submit" class="btn btn-primary btn-large horiz-margin-large"
                  value="Save" />
          </div>
        </form>
      </div>
    </div>
    <div class="card"><a name="company-solutions"></a>
        <div class="card-header">
            <h4 class="card-title"> Gleanings </h4>
        </div>
        <table class="table">
            <tr>
                <th>Total Solutions:</th>
                <td>{{ user.solutions.count }}</td>
            </tr>
            <tr>
                <th>Selected Solutions:</th>
                <td>{{ user_statistics.solutions.selected.count }}</td>
            </tr>
            <tr>
                <th>Rejected Solutions:</th>
                <td>{{ user_statistics.solutions.rejected.count }}</td>
            </tr>
            <tr>
                <th>Solutions Still Open:</th>
                <td>{{ user_statistics.solutions.open.count }}</td>
            </tr>
            <tr>
                <th>Average Rating:</th>
                <td>{{ user_statistics.solutions.score.average }}</td>
            </tr>
        </table>
        <a href="{% url 'show_user' request.user.id %}" class="btn btn default">
            Show More Statistics
            <i class="icon icon-arrow-right"></i>
        </a>
    </div>
</div>
