{% load humanize static %}

<div class="cardset">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Latest Comments</h4>
        </div>
        <div class="card-body">
            {% for comment in user.comments.all %}
            <div class="tile tile-centered">
                <div class="tile-icon peah-icon-48 tooltip tooltip-bottom"
                     data-tooltip="{% if comment.gleaning %}Gleaning{% else %}Solution{% endif %}">
                    <img
                      class="peah-icon-48 tooltip tooltip-bottom"
                      {% if comment.solution %}
                      src="{% static 'peah/images/icons/solution.svg' %}"
                      data-tooltip="Solution"
                      {% else %}
                      src="{% static 'peah/images/icons/gleaning.svg' %}"
                      data-tooltip="Gleaning"
                      {% endif %}
                     />
                </div>
                <div class="tile-content">
                    <p class="tile-title">{{ comment.text }}</p>
                    <p class="i tile-subtitle">
                        <i class="icon icon-time"></i>
                        {{ comment.when|naturaltime }}
                    </p>
                    <div class="tile-actions">
                        {% if comment.solution %}
                            <a href="{% url 'show_solution' comment.solution.id %}">
                                Go To Solution
                                <i class="icon icon-forward"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'show_gleaning' comment.gleaning.id %}">
                                Go To Gleaning
                                <i class="icon icon-forward"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
