
<div class="cardset">
    <div class="card"><a name="company-solutions"></a>
        <div class="card-header">
            <h4 class="card-title"> Companies that want to View your Profile </h4>
        </div>
        <div class="card-body">
            <table class="table">
                {% for request in stat_requests %}
                <tr>
                    <td>
                        {{ request.company }}
                    </td>
                    <td class="nopad nomargin">
                        {% if request.approved %}
                        <span class="btn btn-success disabled">
                        {% elif request.approved is None %}
                        <a href="{% url 'approve_access' request.company.id %}" class="btn btn-success">
                        {% else %}
                        <a href="{% url 'approve_access' request.company.id %}" class="btn btn-success">
                        {% endif %}

                        Approve

                        {% if request.approved %}
                        </span>
                        {% elif request.approved is None %}
                        </a>
                        {% else %}
                        </a>
                        {% endif %}

                        <!--          -->

                        {% if request.approved %}
                        <a href="{% url 'deny_access' request.company.id %}" class="btn btn-error">
                        {% elif request.approved is None %}
                        <a href="{% url 'deny_access' request.company.id %}" class="btn btn-error">
                        {% else %}
                        <span class="btn btn-error disabled">
                        {% endif %}

                        Deny

                        {% if request.approved == true %}
                        </a>
                        {% elif request.approved == false %}
                        </a>
                        {% else %}
                        </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
