{% load static %}
<section class="title">Delete Stuff</section>

<div class="tile centered">
  <div class="tile-icon">
    <div class="example-tile-icon centered">
      <img src="{% static 'peah/images/icons/graph.svg' %}" />
    </div>
  </div>
  <div class="tile-content centered">
    <p class="tile-title">Analytics</p>
    <p class="tile-subtitle">Delete all analytics data.
      <emph>Note that doing so will still leave
        <a href="#user-statistics">Collect Statistics</a>
        enabled
      </emph>.
    </p>
  </div>
  <div class="tile-action">
    <a href="{% url 'delete_analytics' %}" class="btn btn-primary">Delete Analytics</a>
  </div>
</div>

<div class="tile centered">
  <div class="tile-icon">
    <div class="example-tile-icon centered">
      <i class="icon icon-people icon-2x"></i>
    </div>
  </div>
  <div class="tile-content">
    <p class="tile-title">Your Account</p>
    <p class="tile-subtitle">Delete your user profile.
      <strong>This cannot be undone!</strong>
    </p>
  </div>
  <div class="tile-action">
    <a href="{% url 'delete_user_account' %}" class="btn btn-primary">Delete Profile</a>
  </div>
</div>
