{% load static djmoney humanize %}
<div class="tile tile-centered">
    <div class="tile-icon peah-icon-75{%if gleaning.payout %}-payout{% endif %}">
        {% if gleaning.is_repository_based %}
        <img src="{% static 'peah/images/icons/repository-based.svg' %}" />
        {% else %}
        <img src="{% static 'peah/images/icons/upload-based.svg' %}" />
        {% endif %}
        {% if gleaning.payout %}
        <div class="payout">{{ gleaning.payout }}</div>
        {% endif %}
    </div>
  <div class="tile-content">
    <a class="tile-title"
       href="{% url 'show_gleaning' gleaning.id %}">
       <strong>{{ gleaning.headline }}</strong>
    </a>
    {% if user_in_company %}
      <span class="chip info tooltip tooltip-bottom"
       data-tooltip="{{ gleaning.submitted_solutions.count }} submitted solutions">
          <figure class="avatar avatar-sm">
              <img src="{% static 'peah/images/icons/solution-simple-white.svg' %}" />
          </figure>
          {{ gleaning.submitted_solutions.count }}
      </span>
      <span class="chip info tooltip tooltip-bottom"
       data-tooltip="{{ gleaning.comments.count }} comments">
          <i class="icon icon-message"></i>
          {{ gleaning.comments.count }}
      </span>
    {% endif %}
    <p class="tile-subtitle text-gray small">
        from
        {% with company=gleaning.company %}
            {% include "peah/include/chip/company.html" %}
        {% endwith %}
    </p>
    </a>
    {% if gleaning.deadline %}
    <p class="tile-subtitle text-gray small">
        Due <strong>{{ gleaning.deadline|naturaltime }}</strong>
        <strong>({{ gleaning.deadline }})</strong>
    </p>
    {% endif %}
    <p class="tile-subtitle text-gray">{{ gleaning.instructions | truncatewords:50 }}</p>
  </div>
  <div class="tile-action">
  </div>
</div>
