{% load avatar_tags %}
<div class="tile solution">
  <div class="tile-icon {% if solution.is_selected %}success{% else %}error{% endif %}">
    {% if solution.is_selected %}
      <i class="icon icon-check"></i>
    {% elif solution.is_rejected %}
      <i class="icon icon-cross"></i>
      <!-- {% avatar solution.user 25 %} -->
    {% endif %}
    </div>
    <div class="tile-content">
        <p class="tile-title">
            <span class="user">
                <a href="{% url 'show_user' solution.user.id %}">{{ solution.user.username }}</a>
            </span>
            <span class="submitted">
                {{ solution.submitted }}
            </span>
            <span class="solution-gleaning">
                {{ solution.gleaning.headline }}
            </span>
        </p>
        <p>
            <a href="{% url 'show_solution' solution.id %}">Solution &gt;</a>
        </p>
    </div>
</div>
