{% load cms_tags sekizai_tags static menu_tags crispy_forms_filters humanize avatar_tags %}

<div class="peah-forms container">
    <h3>Post a comment.</h3>
    <form method="post" class="peah-forms container"
    {% if solution %}
        action="{% url 'post_comment' 'solution' solution.id %}">
    {% else %}
        action="{% url 'post_comment' 'gleaning' gleaning.id %}">
    {% endif %}
        {% csrf_token %}
        <div class="textarea">
            <textarea name="comment"></textarea>
        </div>
        <input type="hidden"
            name="referer"
            value="{{ request.path }}"
            />
        <div class="container">
            <input type="submit" class="btn btn-default" calue="Comment" />
        </div>
    </form>
</div>
{% for comment in thread.all %}
<div class="callout-list">
    <div class="callout {% if request.user == comment.user %}right{% else %}left{% endif %}">
        <div class="columns">
            {% if request.user == comment.user %}
            {% include "peah/include/common/comment/text.html" %}
            {% include "peah/include/common/comment/right_arrow.html" %}
            {% else %}
            {% endif %}

            {% include "peah/include/common/comment/avatar.html" %}

            {% if request.user == comment.user %}
            {% else %}
            {% include "peah/include/common/comment/left_arrow.html" %}
            {% include "peah/include/common/comment/text.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
