{% extends "peah/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Pe'Ah - Delete Account?{% endblock %}
{% block body %}
<div class="horiz-margin-medium vert-margin-medium tile warning">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <i class="icon icon-file centered"></i>
    </div>
  </div>
  <div class="tile-content">
    <h2 class="tile-title">Would you like to delete analytical data?</h2>
    <p>Enter your password to confirm</p>
  </div>
  <div class="tile-action peah-forms">
    {% crispy form %}
  </div>
</div>

{% endblock %}
