{% extends "peah/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Pe'Ah - Delete Account?{% endblock %}
{% block body %}
<div class="horiz-margin-medium vert-margin-medium tile warning">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <i class="icon icon-file centered"></i>
    </div>
  </div>
  <div class="tile-content">
    <h2 class="tile-title">Would you like to delete your account?</h2>
    <p class="tile-subtitle">Deleting your account is permanent.</p>
    <p class="tile-subtitle">Everything will be deleted.</p>
    <p class="tile-subtitle">You have been warned.</p>
    <p class="tile-subtitle">Enter your password to confirm account closure.</p>
  </div>
  <div class="tile-action peah-forms">
    {% crispy form %}
  </div>
</div>

{% endblock %}
