{% extends "peah/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Pe'Ah - Edit Credentials{% endblock %}
{% block body %}
<div class="horiz-margin-medium vert-margin-medium tile">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <i class="icon icon-file centered"></i>
    </div>
  </div>
  <div class="tile-content peah-forms">
    {% crispy form %}
  </div>
  <div class="tile-action peah-forms">
  </div>
</div>

{% endblock %}
