{% extends "peah/base.html" %}

{% block title %}- Finish Registration{% endblock %}

{% block body %}
<div class="horiz-padding-medium vert-padding-tiny">
  <h1>Would you like to take part in analytics?</h1>
  <article class="article">
    <p>Pe'Ah respects your privacy. Analytics are for only you and potential
      employers to compare yourself against others.
    </p>
    <p>You also have access controls to either show analytics, hide them,
      or require a company to request to view your statistics.</p>
    <p>You can always change this option later if you change your mind.</p>
    <p>
      <strong>Advantages:</strong>
      <ul>
        <li>Show employers your strengths and how you compare with other
          candidates.</li>
      </ul>
    </p>
    <p>
      <strong>Disadvantages:</strong>
      <ul>
        <li>Your data will be collected.</li>
      </ul>
    </p>
  </article>
  <a href="{% url 'set_user_analytics' 1 %}" class="btn btn-default btn-success">
    <i class="icon icon-check"></i>
    Yes, Allow Analytics
  </a>
  <a href="{% url 'set_user_analytics' 0 %}" class="btn btn-default btn-error">
    <i class="icon icon-cross"></i>
    No, Don't Allow Analytics.
  </a>
</div>
{% endblock %}
