{% extends "peah/base.html" %}
{% load static %}
{% block title %}Pe'Ah View User - {{ user.username }}{% endblock %}
{% block body %}
<div class="container vert-padding-tiny">
  <a href="{% if request.GET.back %}{{ request.GET.back }}{% else %}{% url 'show_dashboard' %}{% endif %}"
     class="btn btn-primary">
    <i class="icon icon-back">
    </i>
    Back
  </a>
</div>
<div class="container">
{% if in_request %}
<div class="horiz-padding-medium vert-margin-medium">
    <h1>Account View Request</h1>
    <div class="toast toast-info ">
        <p><strong>{{ user.username }}</strong>
            still needs to approve your request. Please be patient.
        </p>
    </div>
</div>
{% elif denied %}
<div class="horiz-padding-medium vert-margin-large">
    <div class="toast toast-warning ">
        <p>This user requires users to be approved before allowing access.</p>
        <a class="btn btn-primary" href="{% url 'request_access' user.id %}">Request Access</a>
    </div>
</div>
{% else %}
{% if stats.anything %}
<div class="container">
    <h1>{{ request.user.username }}</h1>
    <div class="report-card report-{{ stats.solutions.comparison.class }}">
        <h2 class="report-card-title">Report Card<h2>
        {{ stats.solutions.comparison.letter }}
    </div>
    <h2>Ratings</h2>
    {{ stats.plots.ratings }}
    <img src="{{ stats.plots.rating.url }}" />
    <h2>Skills Snapshot</h2>
    {{stats.plots.skills.url}}
    <img src="{{ stats.plots.skills.url }}" />
</div>
{% else %}
<div class=" vert-margin-micro toast">
  <h1>No statistics to show</h1>
  <p>{% if request.user == user %}You{% else %}{{ user.username }}{% endif %}
    either
    {% if request.user == user %}haven't{% else %}hasn't{% endif %}
    submitted any solutions yet, or
    {% if request.user == user %}have{% else %}has{% endif %}
    disallowed analytics.
</div>
{% endif %}
{% endif %}
</div>
{% endblock %}
