{% load static sass_tags %}
<header class="navbar">
    <section class="navbar-section">
        <a href="{% url 'list_gleanings' %}">
            <div class="peah-logo columns">
                <img src="{% static 'peah/images/peah.svg' %}"
                 class="peah-logo"/>
                <span class="title">Pe'Ah</span>
            </div>
        </a>
    </section>
    <section class="navbar-section navbar-center">
        <div class="subtitle">
            <span class="text-gray">Take the Guesswork Out of Hiring</span>
            <span>|</span>
            <span>Get Things Done</span>
            <ul class="peah-navbar-menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'list_gleanings' %}">Demo</a>
                </li>
            </div>
        </div>
    </section>
    <section class="navbar-section">
        <div class="dropdown" style="padding: 5pt; bottom: -5pt; right: 20pt;">
            <a href="#" class="btn btn-primary dropdown-toggle" tabindex="0"
               style="padding: 5pt;">
                <i class="icon icon-people"></i>
                {% if request.user.is_authenticated %}
                {{ request.user.username }}
                {% else %}
                Account
                {% endif %}
            </a>
            <ul class="menu">
                {% if request.user.is_authenticated %}
                <li class="menu-item">
                    <a href="{% url 'show_dashboard' %}">Dashboard</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="menu-item">
                    <a href="/admin">Admin Panel</a>
                </li>
                {% endif %}
                <li class="menu-item">
                    <a href="{% url 'account_logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="menu-item">
                    <a href="{% url 'account_login' %}?next={{ request.path }}">Log In</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'account_signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
    </section>
</header>
