{% extends "peah/dashboard_base.html" %}
{% block title %}Peah - Close Gleaning?{% endblock %}
{% block dashboard_content %}
    <h1>{{ gleaning.headline }}</h1>
    <div class="toast toast-warning">
        <h3 class="text-big">
            Are you sure you want to
            {% if gleaning.is_closed %}
                open this gleaning?
            {% else %}
                close out this gleaning?
            {% endif %}
        </h3>
    </div>
    <article>
        <ul>
        {% if gleaning.is_closed %}
        {% else %}
            {% if gleaning.solutions %}
                <li>All {{ gleaning.solutions.count }} solutions will not be chosen.</li>
            {% endif %}
        {% endif %}
        </ul>
    </article>
    <div class="columns text-center">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="column btn btn-success" value="Yes"
             name="yes"/>
            <input type="submit" class="column btn btn-error" value="No"
             name="no"/>
         </form>
    </div>
{% endblock %}
