{% extends "peah/dashboard_base_with_actions.html" %}
{% load static crispy_forms_filters %}
{% block title %}Peah: Edit {{ form.instance.headline }}{% endblock %}
{% block dashboard_content %}
<div class="peah-forms">
    <h1>Edit Gleaning</h1>
    {% if gleaning.closed %}
        <div class="toast">
            <h3>Gleaning Was Closed</h3>
            <p>This gleaning was closed on <b>{{ gleaning.closed }}</b></p>
            <p>Would you like to
                <a href="{% url 'close_gleaning' gleaning.id %}">open it again</a>
            </p>
        </div>
    {% else %}
        {% crispy form %}
    {% endif %}
</div>
{% endblock %}
{% block dashboard_sidebar %}
<ul class="dashboard-actions">
    {% if gleaning.closed %}
    <li>
        <a href="{% url 'close_gleaning' gleaning.id %}"
          class="btn btn-primary">Open Gleaning</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'close_gleaning' gleaning.id %}"
          class="btn btn-primary">Close Gleaning</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
