{% extends "peah/base.html" %}
{% load static %}
{% block title %}Pe'Ah (פֵּאָה‎) {% endblock %}
{% block body %}

{% include "peah/include/common/search/index.html" %}

<div>
    <span class="h1">{{ paginator.count }} Gleanings</span>
    <span class="subtitle text-gray">
        {% if selected.company %}
        <span>with</span>
        <span class="chip">{{ selected.company.name }}
            <a href="?skill={{ request.GET.skill }}&position={{ request.GET.position }}&company=" class="btn btn-clear" aria-label="Close" role="button"></a>
        </span>
        {% endif %}
        {% if selected.skill %}
        <span>using</span>
        <span class="chip">{{ selected.skill.text }}
            <a href="?skill=&position={{ request.GET.position }}&company={{ request.GET.company }}" class="btn btn-clear" aria-label="Close" role="button"></a>
        </span>
        {% endif %}
        {% if selected.position %}
        <span>for</span>
        <span class="chip">{{ selected.position.text }}
            <a href="?skill={{ request.GET.skill }}&position=&company={{ request.GET.company }}" class="btn btn-clear" aria-label="Close" role="button"></a>
        </span>
        {% endif %}
    </span>
</div>

<div class="columns">
    <div class="column col-8 container">
        {% for gleaning in page.object_list %}
            {% include 'peah/include/tile/gleaning.html' %}
        {% endfor %}
    </div>

    <div class="peah-sidebar column col-2 container">
        <h3 class="title">Filter Gleanings</h3>

        <h4 class="subtitle">Top Skills</h4>
        {% include "peah/include/chipset/skill.html" %}

        <h4 class="subtitle">Top Positions</h4>
        {% include "peah/include/chipset/position.html" %}

        <h4 class="subtitle">Top Companies</h4>
        {% include "peah/include/chipset/company.html" %}
    </div>
</div>
<div class="centered columns">
    {% if  page.has_previous %}
    <a href="?page={{ page.previous_page_number }}&skill={{ request.GET.skill }}&position={{ request.GET.position }}&company={{ request.GET.company }}" class="column">Previous</a>
    {% endif %}
    <span class="column">Page <strong>{{ page.number }}</strong> of <strong>{{ paginator.num_pages }}</strong></span>
    {% if  page.has_next %}
    <a href="?page={{ page.next_page_number }}&skill={{ request.GET.skill }}&position={{ request.GET.position }}&company={{ request.GET.company }}" class="column">Next</a>
    {% endif %}
</div>

{% endblock body %}
