{% extends "peah/base.html" %}

{% block title %}Peah - {{ gleaning.headline }}{% endblock %}

{% block body %}

{% if request.user in gleaning.company.group.user_set.all %}
<div class="toolbox">
    <a href="{% url 'edit_gleaning' gleaning.id %}" class="btn tooltip" data-tooltip="Edit">
        <i class="icon icon-edit">
        </i>
    </a>
</div>
{% endif %}


{% if solution %}
    {% if solution.submitted %}
        {% if solution.is_selected %}
<p class="toast toast-success">
    <span><i class="icon icon-check"></i></span>
    <a href="{% url 'show_solution' solution.id%}">Your solution</a>
    was selected by
    <strong>{{ solution.gleaning.company.name }}</strong>
    Your payout was <strong>{{ solution.gleaning.payout }}</strong>
</p>
        {% elif solution.is_rejected %}
<div class="toast toast-primary">
    <p class="title">Yay! You've already submitted a solution.</p>
</div>
        {% else %}
<div class="toast toast-success">
    <p class="title">Yay! You've already submitted a solution.</p>
</div>
        {% endif %}
    {% else %}
<div class="toast toast-primary">
    <p>
        You already have a solution you're working on.
    </p>
    <p>Would you like to continue working on it?</p>
    <p>
        <a href="{% url 'edit_solution' solution.id %}">
            Continue
            <i class="icon icon-forward"></i>
        </a>
    </p>
</div>
    {% endif %}
{% else %}
{% endif %}

<div class="">
    <div class="tile-content">
        <p class="tile-title h3">
            <span class="text-gray">
                Headline:
            </span>
            <span>
                {{ gleaning.headline }}
            </span>
        </p>
        <p class="tile-title h3">
            Instructions
        </p>
        <blockquote class="tile-subtitle text-gray block">
            {{ gleaning.instructions }}
        </blockquote>
        </p>
        <p class="tile-title h3">
            Skills Required
        </p>
        <div class="tile-subtitle text-gray block">
            {% for skill in gleaning.skills_required.all %}
            <span class="chip">
                {{ skill }}
            </span>
            {% endfor %}
        </div>
        <p class="tile-title h3">
            Suitable For
        </p>
        <div class="tile-subtitle text-gray block">
            {% for position in gleaning.suitable_for.all %}
            <span class="chip">
                {{ position }}
            </span>
            {% endfor %}
        </div>
    </div>
</div>
{% if gleaning.closed %}
    <div class="container">
        <div class="toast centered">
            This gleaning is closed.
            {% if gleaning.company.open_gleanings.count == 0 %}
            Please make sure to keep up to date on
            <a href="{% url 'list_gleanings' %}?company={{ gleaning.company.id }}">
                other gleanings by <strong>{{ gleaning.company.name }}</strong>
            </a>
            {% else %}
            However.
            <strong>{{ gleaning.company.name }}</strong>
            has
            <a href="{% url 'list_gleanings' %}?company={{ gleaning.company.name }}">
                {{ gleaning.company.open_gleanings.count }} other gleanings.
            </a>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if solution %}
        {% if solution.submitted %}
            {% if solution.is_selected %}
            {% endif %}
        {% else %}
        {% endif %}
    {% elif request.user.is_authenticated %}
        {% if user_in_company %}
        {% else %}
        <div class="gleaning-response centered col-4">
            <a href="{% url 'new_solution' gleaning.id %}" class="btn btn-primary btn-large centered">
                Submit Solution
            </a>
        </div>
        {% endif %}
    {% else %}
        <div class="container">
            <div class="toast centered">
                Please <a href="{% url 'account_login' %}?next={{ request.get_full_path }}">Log In</a> to submit a solution.
            </div>
        </div>
    {% endif %}
{% endif %}

{% if user_in_company %}
    <h3> {{ gleaning.submitted_solutions.count }} Solutions</h3>
    {% for solution in gleaning.submitted_solutions.all %}
        {% include 'peah/include/tile/solution.html' %}
    {% endfor %}
{% endif %}

{% include "peah/include/common/comments.html" with thread=gleaning.comments comment_type='gleaning' %}

{% endblock %}
