{% if selected.company %}
<a href="?skill={{ request.GET.skill }}&position={{ request.GET.position }}&company=" class="chip">
    <i class="icon icon-cross"></i>
    {{ selected.company }}
</a>
{% endif %}
{% for company in top_companies %}
{% if company != selected.company %}
<a href="?skill={{ request.GET.skill }}&position={{ request.GET.position }}&company={{ company.id}}" class="chip">
    {{ company.name }}
</a>
{% endif %}
{% endfor %}
