{% if selected.position %}
<span class="chip success" role=button>
    {{ selected.position.text }}
    <a href="?skill={{ request.GET.skill }}&position=&company={{ request.GET.company }}" class="btn btn-clear" aria-label="Close" role="button"></a>
</span>
{% endif %}
{% for position in top_positions %}
{% if position != selected.position %}
<a href="?skill={{ request.GET.skill }}&position={{ position.text }}&company={{ request.GET.company }}" class="chip" data-badge="{{ position.frequency }}">
    {{ position.text }}
</a>
{% endif %}
{% endfor %}
