{% if selected.skill %}
<span class="chip success" role=button>
    {{ selected.skill.text }}
    <a href="?skill=" class="btn btn-clear" aria-label="Close" role="button"></a>
</span>
{% endif %}
<div class="container">
{% for skill in top_skills %}
{% if skill == selected.skill %}
{% else %}
<a href="?skill={{ skill.text }}&position={{ request.GET.position }}&company={{ request.GET.company }}" class="chip" data-badge="{{ skill.frequency }}">
    {{ skill.text }}
</a>
{% endif %}
{% endfor %}
</div>
