{% extends "peah/dashboard_base.html" %}
{% block title %}Peah - Choose a Gleaning{% endblock %}
{% block body %}
<!-- TODO: add javascript to make this easier (but keep non-js!)-->
<h2 class="h2">Choose a gleaning type</h2>
<div class="columns">
  <div class="empty">
    <p class="empty-title h3">Repository-Based Gleaning</p>
    <p class="empty-subtitle">
      A gleaning with a repository URL as a starting point.
    </p>
    <div class="empty-action">
      <a class="btn btn-primary" href="{% url 'new_gleaning' %}?type=repository">
        Create a Repository-Based Gleaning
      </a>
    </div>
  </div>
  <div class="empty">
    <p class="empty-title h3">Upload-Based Gleaning</p>
    <p class="empty-subtitle">
      A gleaning with downloadable file as the starting point.
    </p>
    <div class="empty-action">
      <a class="btn btn-primary" href="{% url 'new_gleaning' %}?type=upload">
        Create an Upload-Based Gleaning
      </a>
    </div>
  </div>
</div>
{% endblock %}
