{% extends "peah/dashboard_base.html" %}
{% load static crispy_forms_filters %}
{% block title %}Peah - Choose a Gleaning{% endblock %}
{% block body %}
<div class="form-group">
  {% crispy form %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript"
        src="{% static 'admin/js/vendor/jquery/jquery.js' %}">
</script>

{% endblock %}
