{% block title %}Company Dashboard - {{ company.name }}{% endblock %}
{% block dashboard_content %}
<div class="container columns peah-dashboard-columns">
    {% include 'peah/include/dashboard/latest_solutions_card.html' %}
    {% include 'peah/include/dashboard/company_account_card.html' %}
</div>
<div class="container columns peah-dashboard-columns">
    {% include 'peah/include/dashboard/user_account_card.html' %}
    {% if queued_companies %}
        {% include 'peah/include/dashboard/queued_companies_card.html' %}
    {% endif %}
    {% include 'peah/include/dashboard/user_solutions.html' %}
</div>
{% endblock %}
