{% extends "peah/base_with_nav.html" %}
{% block title %}Peah - Dashboard{% endblock %}
{% block sidebar_nav %}
<ul class="nav">
    {% if company %}
    <li class="nav-item">
        <a href="#company">Company</a>
        <ul class="nav">
            <li class="nav-item">
                <a href="#company-solutions">Solutions</a>
            </li>
            <li class="nav-item">
                <a href="#company-solutions">Gleanings</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#company-gleanings-open">Open Gleanings</a>
                    </li>
                    <li class="nav-item">
                        <a href="#company-gleanings-closed">Closed Gleanings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="#user-account">User</a>
        <ul class="nav">
            {% if stat_requests.count %}
            <li class="nav-item container">
                <a href="#user-view-requests">View Requests
                ({{ stat_requests.count }})
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="#user-account">Email &amp; Password</a>
            </li>
            <li class="nav-item">
                <a href="#user-solutions">Submitted Solutions</a>
            </li>
            <li class="nav-item">
                <a href="#user-goals">Goals</a>
            </li>
            <li class="nav-item">
                <a href="#user-account-profile">Profile</a>
            </li>
            <li class="nav-item">
                <a href="#user-delete">Delete Stuff</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block body %}
    {% if company %}
    <a name="company"></a>
    {% include "peah/include/dashboard/company.html" %}
    {% endif %}
    {% if is_staff %}
    <a name="staff"></a>
    {% include "peah/include/dashboard/staff.html" %}
    {% endif %}
    {% if is_superuser %}
    {% endif %}
    <a name="user-account"></a>
    <section class="title">User Profile</section>
    <a name="user-view-requests"></a>
    {% include "peah/include/dashboard/user_view_requests.html" %}
    <a href="user-statistics"></a>
    {% include "peah/include/dashboard/user_statistics.html" %}
    <a name="user"></a>
    {% include "peah/include/dashboard/user.html" %}
    <a name="user-goals"></a>
    {% include "peah/include/dashboard/user_goals.html" %}
    <a name="user-solutions"></a>
    {% include "peah/include/dashboard/user_solutions.html" %}
    <a name="user-account-profile"></a>
    {% include "peah/include/dashboard/user_profile.html" %}
    <a name="user-delete"></a>
    {% include "peah/include/dashboard/user_delete.html" %}
{% endblock %}
