{% extends 'peah/dashboard_base.html' %}
{% block title %}Peah - Solution Details{% endblock %}
{% block dashboard_content %}
<div class="tile">
    <div class="tile-content">
        <p class="tile-title">Gleaning</p>
        <p>{{ solution.gleaning.headline }}</p>
        <p>
            <a href="{% url 'show_gleaning' gleaning.id %}">More &#129122;</a>
        </p>
        <p class="tile-title">Solution Details</p>
        <p>
            <p>
                <strong>User: </strong> {{ solution.user.username }}
            </p>
            <p>
                <strong>Date: </strong> {{ solution.submitted }}
            </p>
            <p>
                <strong>Comment: </strong> {{ solution.details }}
            </p>
        </p>
    </div>
</div>
{% endblock %}
