{% extends 'peah/dashboard_base.html' %}
{% block title %}User Dashboard - {{ company.name }}{% endblock %}
{% block dashboard_content %}
<div class="card" id="peah-company-gleanings">
    <div class="card-header">
        <h5 class="card-title h5">Latst Solutions</h5>
    </div>
    <div class="card-body">
        <ul>
            {% for solution in latest_user_solutions %}
            <li>
                <h6 class="h6">
                    {{ solution.gleaning.brief }}
                </h6>
                <h7 class="h7">
                    Submitted on {{ solution.submitted }}
                </h7>
                <h7 class="h7">
                    <a href="{% url 'view_solution' solution.id %}"
                </h7>
            </li>
            {% endfor %}
        </ul>
        <a class="btn" href="{% url 'manage_gleanings' }">
            Manage Gleanings
        </a>
    </div>
</div>
{% include 'peah/include/dashboard/user_account_card.html' %}
{% include 'peah/include/dashboard/user_solutions.html' %}
{% endblock %}
