{% load cms_tags sekizai_tags static menu_tags sass_tags %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="Pe'Ah">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="{% sass_src 'vendor/spectre/spectre.scss' %}"> -->
  <link rel="stylesheet" href="{% sass_src 'vendor/spectre/peah.scss' %}">
  <link rel="stylesheet" href="{% static 'vendor/spectre/spectre-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.css' %}">
  <link rel="icon"
    type="image/png"
    href="{% static 'peah/images/favicon.ico' %}">

  <script type="text/javascript"></script>

  <script type="text/javascript" src="{% static 'vendor/jquery-ui/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>

  <script type="text/javascript">
  </script>


  {% block styles %}{% endblock %}

</head>

<body>
    {% include 'peah/include/navbar/peah_app.html' %}
    <div class="container peah-body">
        {% block body %}{% endblock %}
    </div>
    <div class="container" id="peah-footer">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </div>
</body>
{% block scripts %}{% endblock %}
</html>
