{% extends "peah/base.html" %}
{% block body %}
<div class="columns">
    <div class="column nopad">
        {% block dashboard_content %}{% endblock %}
    </div>
    <div class="column peah-sidebar col-3">
        <h3>Actions</h3>
        {% block dashboard_sidebar %}{% endblock %}
    </div>
</div>
{% endblock %}
